<template>
  <div id="app">
    <Vheader></Vheader>
    <div class="tab">
      <div class="tab-item">
        <router-link :to="{path: 'goods'}" class="tab-color">商品</router-link>
      </div>
      <div class="tab-item">
        <router-link :to="{path: 'ratings'}" class="tab-color">评论</router-link>
      </div>
      <div class="tab-item">
        <router-link :to="{path: 'seller'}" class="tab-color">商家</router-link>
      </div>
    </div>
    <router-view></router-view>

    <div class="content">
      content
    </div>

  </div>
</template>

<script>
import Vheader from './components/header/header'
export default {
  name: 'App',
  components: {
    Vheader
  }
  
}
</script>

<style lang="less" scoped>
.tab {
  display: flex;
  width: 100%;
  height: 40px;
  line-height: 40px;
  .tab-item {
    flex: 1;
    text-align: center;
    .tab-color{
      color: rgb(12, 12, 12);
    }
  }
}
</style>
